@model IEnumerable<Taller1MR171621.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Crear Nuevo Producto", "Create")

    @using (Html.BeginForm("Index", "Productos", FormMethod.Get))
    {
        <p>
            Descripción: @Html.TextBox("description")
            Existencia: @Html.TextBox("exis")
            Precio de Venta: @Html.TextBox("precioVenta")
            <br />
            <input type="submit" value="Filtrar" class="btn btn-info" />
        </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Existencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroPedidos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Existencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroPedidos)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Consultar", "Details", new { id=item.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
